<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Contact Us</title>
		<link rel="stylesheet" type="text/css" th:href="@{/about.css}">
	</head>
	<body>
   		 <header>   
		    <div class="navbar">
		    	<img alt="" width="100px" height="50px" src="https://w0.peakpx.com/wallpaper/835/864/HD-wallpaper-bright-music-logo-colored.jpg">
		    	<p>TUNE TROVE</p>
		     	<a href="logout">Logout</a>
		    	<a href="login">Login</a>
				<a href="registration">Register</a>
		     	<a href="about">About</a>		     	
		     	<a href="home">Home</a>
		    </div>
    	</header>
		<section class="main">
			<h1>About us</h1>
		    <p>With Tune Trove, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.
		   	   There are millions of tracks and episodes on Tune Trove. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Tune Trove surprise you.
               You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.
               Soundtrack your life with Tune Trove. Subscribe or listen for free.
            </p>
		</section>
		<footer>
	    	<p>&copy; 2024 Tune Trove Music Streaming App | Design and Development. All Rights Reserved.</p>
	    </footer>
	</body>
</html>