<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Display Playlists</title>
		<link rel="stylesheet" type="text/css" th:href="@{/displayplaylist.css}">
	</head>
	<body>
		
		<header>   
		    <div class="navbar">
		    	<img alt="" width="100px" height="50px" src="https://w0.peakpx.com/wallpaper/835/864/HD-wallpaper-bright-music-logo-colored.jpg">
		    	<p>TUNE TROVE</p>
		     	<a href="logout">Logout</a>
		    	<a href="login">Login</a>
				<a href="registration">Register</a>
		     	<a href="about">About</a>		     	
		     	<a href="home">Home</a>
		    </div>
    	</header>
		<h1>Playlist</h1>
		<table border="1" class="main">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="all:${allplaylist}">
						<td th:text="${all.id}"></td>
						<td>
							<ul>
								<li th:each="song:${all.songs}">
									<span th:text="${song.name}"></span>
									<audio controls>
										<source th:src="${song.link}">
									</audio>
								</li>
							</ul>
						</td>
					</tr>
				</tbody>
		</table>
		<footer>
	    	<p>&copy; 2024 Tune Trove Music Streaming App | Design and Development. All Rights Reserved.</p>
	    </footer>
	</body>
</html>