<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>REGISTER</title>
		<link rel="stylesheet" type="text/css" th:href="@{/registration.css}"> 
	</head>
	<body>
		<header>   
		    <div class="navbar">
		    	<img alt="" width="100px" height="50px" src="https://w0.peakpx.com/wallpaper/835/864/HD-wallpaper-bright-music-logo-colored.jpg">
		    	<p>TUNE TROVE</p>
		     	<a href="logout">Logout</a>
		    	<a href="login">Login</a>
				<a href="registration">Register</a>
		     	<a href="about">About</a>		     	
		     	<a href="home">Home</a>
		    </div>
    	</header>
		<h1>Registration Form</h1>
		<form action="register" method="post" class="main">
		
			<br>
			<label>Username:</label>
			<input type="text" name="username">
			<br><br>
			
			<label>Email:</label>
			<input type="email" name="email">
			<br><br>
			
			<label>Password:</label>
			<input type="password" name="password">
			<br><br>
			
			<label>Gender: </label>
			Male<input type="radio" name="gender" value="male">
			Female<input type="radio" name="gender" value="female">
			Other<input type="radio" name="gender" value="other">
			<br><br>
			
			<label>Role: </label>
			Admin<input type="radio" name="role" value="admin">
			Customer<input type="radio" name="role" value="customer">
			<br><br>
			
			<label>Address:</label>
			<textarea name="address"></textarea>
			<br><br>
			
			<input type="submit" value="SUBMIT">
			<br><br>
			
		</form>		
		 <footer>
	    	<p>&copy; 2024 Tune Trove Music Streaming App | Design and Development. All Rights Reserved.</p>
	    </footer>
		
	</body>
</html>